<!-- Page Header -->
<!-- Set your background image for this header in your post front-matter: cover -->
<%
    var cover = item.cover || theme.index_cover;
%>
<header class="intro-header" style="background-image: url('<%- cover %>')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1><%- item.title || theme.default_post_title || "Untitled" %></h1>
                    <% if (item.subtitle && item.subtitle.length) { %>
                    <h2 class="post-subheading">
                        <%- item.subtitle %>
                    </h2>
                    <% } %>
                    <span class="meta">
                        <!-- Date and Author -->
                        <% if(item.author) { %>
                            Posted by <%- item.author %> on
                        <% } %>
                        <% if(item.date) { %>
                            <%= date(item.date, 'MMMM, Do YYYY') %>
                        <% } %>
                        <% if (item.categories && item.categories.length) { %>
                            | <%- partial('article-categories', {item: item}) %>
                        <% } %>
                    </span>
                    <br/>
                    <div style="width:200px;">
                        <a style="color: #337ab7;margin-right: 10px;text-decoration: none;" href="http://twitter.com/share?text=<%- item.title -%>&url=<%- theme.url -%>/<%- item.canonical_path -%>" target="__blank">
                            <i class="fa fa-twitter fa-2x"></i>
                        </a>
                        <a style="color: #3b5998;margin-right: 10px;text-decoration: none;" href="https://www.facebook.com/v2.12/dialog/share?app_id=2038613439685488&href=<%- theme.url -%>/<%- item.canonical_path -%>&display=popup&redirect_uri=<%- theme.url -%>/<%- item.canonical_path -%>" target="__blank">
                            <i class="fa fa-facebook fa-2x"></i>
                        </a>
                        <a style="color: #db4437;margin-right: 10px;text-decoration: none;" href="https://plus.google.com/share?url=<%- theme.url -%>/<%- item.canonical_path -%>" target="__blank">
                            <i class="fa fa-google fa-2x"></i>
                        </a>
                        <a style="color: #3b5998;text-decoration: none;" href="https://www.linkedin.com/shareArticle?mini=true&url=<%- theme.url -%>/<%- item.canonical_path -%>&title=<%- item.title -%>&summary=<%- item.subtitle -%>&source=LinkedIn" target="__blank">
                            <i class="fa fa-linkedin fa-2x"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <!-- Gallery -->
            <% if (item.photos && item.photos.length){ %>
                <%- partial('gallery') %>
            <% } %>

            <!-- Post Main Content -->
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <%- item.content %>

                <% if(theme.addthis) { %>
                    <!-- Go to www.addthis.com/dashboard to customize your tools -->
                    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=<%- theme.addthis %>"></script>

                    <!-- Go to www.addthis.com/dashboard to customize your tools -->
                    <div class="addthis_sharing_toolbox"></div>
                <% } %>
            </div>
            
            <!-- Tags and categories -->
            <% if (item.categories && item.categories.length || item.tags && item.tags.length) { %>
                <div class="col-lg-4 col-lg-offset-2 col-md-5 col-md-offset-1 post-tags">
                    <% if (item.tags && item.tags.length){ %>
                        <%- partial('article-tags', {item: item}) %>
                    <% } else { %>
                        <%- partial('article-categories', {item: item}) %>
                    <% } %>
                </div>
                <!-- <div class="col-lg-4 col-md-5 post-categories">
                    <% if (item.tags && item.tags.length && item.categories && item.categories.length){ %>
                        <%- partial('article-categories', {item: item}) %>
                    <% } %>
                </div> -->
            <% } %>
            <!-- Comments -->
            <% if (item.comment != false) { %>
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <%- partial("_partial/comments.ejs") %>
                </div>
            <% } %>
        </div>
    </div>
</article>