<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="<%- config.root %>">
                <img src="/img/logo.png"/>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <% for (var i in theme.menu){ %>
                    <li>
                        <a href="<%- theme.menu[i].url ? url_for(theme.menu[i].url) : url_for(theme.menu[i]) %>">
                            <% if (theme.menu[i].icon) { %>
                                <i class="fa fa-<%= theme.menu[i].icon %> fa-stack-2x"></i>
                            <% } else { %>
                                <%= i %>
                            <% } %>
                        </a>
                    </li>
                <% } %>
                <li><a id="nav-search-btn" class="nav-icon fa fa-search" title="<%= __('search') %>"></a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<div class="overlay-box">    
    <div id="search-form-wrap">
        <%- search_form({button: '<icon class="fa fa-search"></icon>'}) %>
    </div>
</div>